In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\abhay\Downloads\titanic.csv")
df = df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [2]:
import numpy as np

text = []
number = []

for i in df.columns:
  if (type(df[i][0]) == str):
    text.append(i)
  else:
    number.append(i)

In [3]:
from sklearn.preprocessing import LabelEncoder


# Initialize the LabelEncoder
label_encoder = LabelEncoder()

for i in text:
  df[i] = label_encoder.fit_transform(df[i])

In [4]:
df

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500         2
1           1       1    0  38.0      1      0  71.2833         0
2           1       3    0  26.0      0      0   7.9250         2
3           1       1    0  35.0      1      0  53.1000         2
4           0       3    1  35.0      0      0   8.0500         2
..        ...     ...  ...   ...    ...    ...      ...       ...
886         0       2    1  27.0      0      0  13.0000         2
887         1       1    0  19.0      0      0  30.0000         2
888         0       3    0   NaN      1      2  23.4500         2
889         1       1    1  26.0      0      0  30.0000         0
890         0       3    1  32.0      0      0   7.7500         1

[891 rows x 8 columns]

In [5]:
kl = df.isnull().sum()
kl

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      0
dtype: int64

In [6]:
df["Age"].fillna(df["Age"].mean(), inplace=True)

In [7]:
kk = df.isnull().sum()
kk

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [8]:
df.duplicated().sum()

111

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
# Print the rows with duplicates
print(df.duplicated().sum())

0

In [11]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [12]:
from sklearn.preprocessing import MinMaxScaler

# Create a MinMaxScaler instance
scaler = MinMaxScaler()

df["Fare"] = scaler.fit_transform(df[['Fare']])
df["Age"] = scaler.fit_transform(df[['Age']])
df

     Survived  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0           0       3    1  0.271174      1      0  0.014151         2
1           1       1    0  0.472229      1      0  0.139136         0
2           1       3    0  0.321438      0      0  0.015469         2
3           1       1    0  0.434531      1      0  0.103644         2
4           0       3    1  0.434531      0      0  0.015713         2
..        ...     ...  ...       ...    ...    ...       ...       ...
885         0       3    0  0.484795      0      5  0.056848         1
887         1       1    0  0.233476      0      0  0.058556         2
888         0       3    0  0.367921      1      2  0.045771         2
889         1       1    1  0.321438      0      0  0.058556         0
890         0       3    1  0.396833      0      0  0.015127         1

[780 rows x 8 columns]

In [13]:
X = df.drop(['Survived'], axis=1)
Y = df['Survived']

In [14]:
from sklearn.feature_selection import mutual_info_classif

# Compute Mutual Information
mutual_info = mutual_info_classif(X, Y)

# Convert the array to a pandas series for easier visualization
mutual_info_series = pd.Series(mutual_info, index = X.columns)

# You can also sort and plot the values for better visualization
mutual_info_series.sort_values(ascending=False) #.plot.bar(figsize=(10,Â 5))

Sex         0.134888
Fare        0.118843
Pclass      0.066758
SibSp       0.032237
Embarked    0.013485
Age         0.007353
Parch       0.005324
dtype: float64

In [15]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

# Apply SelectKBest class to extract top 10 best features
bestfeatures = SelectKBest(score_func=chi2, k=7)
fit = bestfeatures.fit(X,Y)

# Get the scores for each feature
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

# Concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns, dfscores], axis=1)
featureScores.columns = ['Feature','Score']  # naming the dataframe columns

# Print the best features
print(featureScores.nlargest(3,'Score')) # print 10Â bestÂ features

    Feature      Score
1       Sex  77.029704
0    Pclass  28.627396
6  Embarked   7.602417

In [16]:
XX = df[['Sex', 'Fare', 'Pclass', 'Embarked']]
XX

     Sex      Fare  Pclass  Embarked
0      1  0.014151       3         2
1      0  0.139136       1         0
2      0  0.015469       3         2
3      0  0.103644       1         2
4      1  0.015713       3         2
..   ...       ...     ...       ...
885    0  0.056848       3         1
887    0  0.058556       1         2
888    0  0.045771       3         2
889    1  0.058556       1         0
890    1  0.015127       3         1

[780 rows x 4 columns]

In [68]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
model = DecisionTreeClassifier()

# Define a parameter grid to search
param_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 10, 15, 20, 50, 100],
}

# Create a GridSearchCV object to search for the best hyperparameters
grid_search = GridSearchCV(model, param_grid, cv=10)

# Fit the model to the data and find the best hyperparameters
grid_search.fit(XX, Y)

# Get the best hyperparameters
best_alpha = grid_search.best_params_

# Create a LinearRegression model with the best hyperparameters
model = DecisionTreeClassifier(**best_alpha)


X_train, X_test, y_train, y_test = train_test_split(XX, Y, test_size=0.2, random_state=42)
# Fit the model to the scaled training data
model.fit(X_train, y_train)

# Make predictions on the scaled test data
y_pred = model.predict(X_test)

# Calculate the Mean Squared Error (MSE) to evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 0.22435897435897437

In [69]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7756410256410257

In [70]:
from sklearn.model_selection import cross_val_score
# Perform cross-validation and calculate R-squared scores
scores = cross_val_score(model, XX, Y, cv=10, scoring='f1')  # cv is the number of folds (e.g., 5-fold cross-validation)

# Print the R-squared scores
print("R-squared Scores:", scores)

# Calculate the mean R-squared score
mean_r2_score = scores.mean()
print("Mean R-squared Score:", mean_r2_score)

R-squared Scores: [0.65517241 0.49056604 0.61538462 0.73015873 0.77419355 0.73684211
 0.76363636 0.74193548 0.73333333 0.75862069]
Mean R-squared Score: 0.699984332121839